<body>
  <div class="nav-class">
    <nav class="navbar">
      <ul>
        <div class="title">
          <li><a routerLink="/home">LookItUP | About</a></li>
        </div>

        <div class="right-navbar">
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/main" routerLinkActive="active">Web App</a></li>
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </div>
      </ul>
    </nav>
  </div>


  <div class="parallax">
    <div class="main-title"> About Us </div>
  

  <div class="about-div">
    <div class="about-col-left">
      <h1>LookItUP</h1>
      ubaslkdjalksdjalkdalsd
    </div>
    <div class="about-col-right">
      <div class="about-first-pic"></div>
    </div>
  </div>


  <div class="about-div">
      <div class="about-col-left">
        <h1>Interactive Map</h1>
        ubaslkdjalksdjalkdalsd
      </div>
      <div class="about-col-right">
        <div class="about-second-pic"></div>
      </div>
    </div>

    <div class="about-div">
        <div class="about-col-left">
          <h1>Never Get Lost!</h1>
          ubaslkdjalksdjalkdalsd
        </div>
        <div class="about-col-right">
          <div class="about-third-pic"></div>
        </div>
      </div>

    </div>

  <footer>
    <p> A CMSC 126 (Web Engineering) Project | University of the Philippines Cebu |
      2019</p>
  </footer>

</body>