<body>
  <div class="nav-class">
    <nav class="navbar">
      <ul>
        <div class="title">
          <li><a routerLink="/home">LookItUP | About</a></li>
        </div>

        <div class="right-navbar">
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/main" routerLinkActive="active">Web App</a></li>
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </div>
      </ul>
    </nav>
  </div>


  <div class="parallax">
    <div class="main-title"> About Us </div>
  

  <div class="about-div">
    <div class="about-col-left">
      <h1>LookItUP</h1>
      <div class="about-content">
        <p>
            When people travel from one place to another, there are already several possible public
            transportation vehicles being provided. Due to the abundance of public transportation vehicles,
            people would just have to select a public transportation vehicle based on their preferences. But
            with limited and tedious ways in getting the information to reach a certain destination, people
            may have the tendency to get lost and would possibly pay very expensive transportation fees
            just to reach their destination. <br><br>
          <strong>LookItUP</strong> aims to help commuters by providing convenience in their day to day travels:
        </p><br>
        <ul>
          <li> To provide a cost-effective and reliable travel experience.</li><br>
          <li> To provide important information when travelling.</li>
        </ul>
      </div>
    </div>
    <div class="about-col-right">
      <div class="about-first-pic"></div>
    </div>
  </div>


  <div class="about-div">
      <div class="about-col-left">
        <h2>Interactive Map</h2>
        <p>
            <strong>LookItUP</strong> uses the <strong>Google Maps API</strong> as the main mapping framework.<br><br>
            Dragging around the map can help users to learn more about the surroundings. 
            Users can also zoom in or zoom out the map to see all the landmarks and labels in their desired location.<br><br>
            <strong>Google Street View</strong> is also included so that users can have an actual visual representation of their desired location.<br><br>
            Thanks to <strong>Google's Autocomplete service</strong>, users won't need to type in completely their desired locations! 
        </p>
      </div>
      <div class="about-col-right">
        <div class="about-second-pic"></div>
      </div>
    </div>

    <div class="about-div">
        <div class="about-col-left">
          <h2>Never Get Lost Again!</h2>
          <p>
            Just simply enter a <strong>Starting Point</strong> and a <strong>Destination Point</strong> to see if there are any available public transportation vehicles that you can take to reach your desired destination!<br><br>
            After entering the points, the points will be <strong>marked</strong> and a <strong>route</strong> will be shown for travelling guidance.<br><br>
            Information of the available transportation vehicles will then be displayed, such as their: <strong> description, and cost.</strong><br><br>
            <strong>Transporataion Services Applications</strong> are also displayed, including a link to their websites for further convenience.
          </p>
        </div>
        <div class="about-col-right">
          <div class="about-third-pic"></div>
        </div>
      </div>

    </div>

  <footer>
    <p> A CMSC 126 (Web Engineering) Project | University of the Philippines Cebu |
      2019</p>
  </footer>

</body>