<body>
  <div class="nav-class">
    <nav class="navbar">
      <ul>
        <div class="title">
          <li><a routerLink="/home">LookItUP | About</a></li>
        </div>

        <div class="right-navbar">
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/main" routerLinkActive="active">Web App</a></li>
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </div>
      </ul>
    </nav>
  </div>


  <div class="parallax">
    <div class="main-title"> About Us </div>
  </div>

  <div class="about">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu nulla neque. Nunc maximus leo augue, et
      tincidunt turpis porta nec. Vestibulum posuere enim vel suscipit vehicula. In maximus erat at purus suscipit, non
      volutpat est porttitor. Quisque viverra ut diam eu sollicitudin. Pellentesque feugiat cursus libero nec fermentum.
      Phasellus ac tempus risus, eget fermentum odio. Nulla venenatis eros at justo placerat placerat. Morbi in dui
      nisl. Praesent vestibulum fringilla porttitor. Vestibulum ut ullamcorper arcu. Nunc non elementum ipsum.
    </p><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu nulla neque. Nunc maximus leo augue, et
      tincidunt turpis porta nec. Vestibulum posuere enim vel suscipit vehicula. In maximus erat at purus suscipit, non
      volutpat est porttitor. Quisque viverra ut diam eu sollicitudin. Pellentesque feugiat cursus libero nec fermentum.
      Phasellus ac tempus risus, eget fermentum odio. Nulla venenatis eros at justo placerat placerat. Morbi in dui
      nisl. Praesent vestibulum fringilla porttitor. Vestibulum ut ullamcorper arcu. Nunc non elementum ipsum.
    </p><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu nulla neque. Nunc maximus leo augue, et
      tincidunt turpis porta nec. Vestibulum posuere enim vel suscipit vehicula. In maximus erat at purus suscipit, non
      volutpat est porttitor. Quisque viverra ut diam eu sollicitudin. Pellentesque feugiat cursus libero nec fermentum.
      Phasellus ac tempus risus, eget fermentum odio. Nulla venenatis eros at justo placerat placerat. Morbi in dui
      nisl. Praesent vestibulum fringilla porttitor. Vestibulum ut ullamcorper arcu. Nunc non elementum ipsum.
    </p>
  </div>

  <div class="parallax"></div>

  <footer>
    <p> A CMSC 126 (Web Engineering) Project | University of the Philippines Cebu |
      2019</p>
  </footer>

</body>