agm-map {
    width: 100vw;
    height: 90vh;
}

#side-bar {
    top: 0px;
    width: 450px;
    bottom: 0px;
}

.tsa {
    padding-top: 5%;
}

.tsa p {
    padding-top: 10px;
}
.tsa h3 {
    padding-left: 20px;
}